.add-property {
  padding: 0px;
  color: black;
  border: 2px solid black;
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
}

#add-button {
  color: white;
  background-color: grey;
  border-radius: 20%;
  font-family: "Roboto Mono", monospace;
  border: black;
  margin: 10px;
  font-size: medium;
}

#add-button:hover {
  color: black;
}

input {
  font-family: "Roboto Mono", monospace;
  border-radius: 4%;
  border: solid 1px black;
}

label {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7fr;
  width: 200px;
}

select {
  font-family: "Roboto Mono", monospace;
  border-radius: 4%;
}
