.nav-bar {
  border-bottom: 4px solid grey;
  background-color: white;
  border: 4px solid orange;
}

.nav-logo {
  width: 200px;
  height: auto;
  background-color: white;
  border: 4px solid orange;
}

.navbar-links {
  padding: 10px;
  margin: 0;
}

.navbar-links-item {
  margin: 0;
  padding: 16px;
  display: inline-block;
  border: 4px solid orange;
}

.navbar-item {
  text-decoration: none;
  color: black;
}
