.side-bar {
  background-color: white;
  height: 100%;
  width: 160px;
  position: fixed;
}

.side-bar-links {
  text-decoration: none;
}

.sidebar-links-item {
  margin: 0;
  padding: 16px;
  display: inline-block;
}
