.side-bar {
  display: flex;
  align-items: center;
  border-bottom: 4px solid grey;
}

.sidebar-links {
  text-decoration: none;
}

.sidebar-item {
  text-decoration: none;
  color: black;
  padding: 15px;
}

.search {
  margin-left: 28%;
}
